Main Node.json
[{"id":"d7ddc0b.d0f904","type":"tab","label":"Body-Area-Network","disabled":false,"info":""},{"id":"1270c615.a24dea","type":"tls-config","z":"","name":"FINAL","cert":"/Users/atul/Download/cert/6812c086b3-certificate.pem.crt","key":"/Users/atul/Downloads/cert/6812c086b3-private.pem.key","ca":"/Users/atul/Downloads/cert/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"321d4e4a.c465f2","type":"mqtt-broker","z":"","name":"FINAL_","broker":"a1lhg2ucphsee9-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"1270c615.a24dea","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82dd0665.36b008","type":"aws-config","z":""},{"id":"af9a9d58.adca1","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"49f3aa1d.600af4","type":"ui_group","z":"","name":"Temperature Panel","tab":"af9a9d58.adca1","disp":false,"width":"6","collapse":false},{"id":"f85a43e.3e8cac","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"43a5e580.16593c","type":"ui_group","z":"","name":"Battery Status","tab":"af9a9d58.adca1","disp":false,"width":"6","collapse":false},{"id":"5b895c8c.72a2c4","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"738546be.19fe48","type":"ui_group","z":"","name":"Heartbeat","tab":"af9a9d58.adca1","disp":false,"width":"6","collapse":false},{"id":"3911e1db.bc2d6e","type":"ui_group","z":"","name":"Hemoglobin","tab":"af9a9d58.adca1","disp":true,"width":"6","collapse":false},{"id":"f9bbf713.968ef8","type":"tls-config","z":"","name":"AWS","cert":"C:\\Users\\SakDev\\Desktop\\Dev\\AWS\\Certs\\MySimulatedDevice\\15a6d5bf2f-certificate.pem.crt","key":"C:\\Users\\SakDev\\Desktop\\Dev\\AWS\\Certs\\MySimulatedDevice\\15a6d5bf2f-private.pem.key","ca":"C:\\Users\\SakDev\\Desktop\\Dev\\AWS\\Certs\\MySimulatedDevice\\rootCA.pem","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"8fb88a88.c0ef18","type":"ui_group","z":"","name":"Oxygen Status","tab":"af9a9d58.adca1","disp":true,"width":"6","collapse":false},{"id":"c4cd0930.9d9678","type":"ui_group","z":"","name":"Glucose Level","tab":"af9a9d58.adca1","disp":true,"width":"6","collapse":false},{"id":"4eb434a4.896e8c","type":"ui_group","z":"","name":"Blood pH Status","tab":"af9a9d58.adca1","disp":true,"width":"6","collapse":false},{"id":"3b7d715e.5ee3ce","type":"ui_group","z":"","name":"Raspiratory Status","tab":"af9a9d58.adca1","disp":true,"width":"6","collapse":false},{"id":"8dafdbfa.92a1e8","type":"mqtt out","z":"d7ddc0b.d0f904","name":"MQTT1","topic":"demotopic","qos":"","retain":"","broker":"321d4e4a.c465f2","x":560,"y":20,"wires":[]},{"id":"2fb3ffb8.f5233","type":"function","z":"d7ddc0b.d0f904","name":"Temperature","func":"var rnd = (Math.random() * (96 - (106)) + (106)).toFixed(1);  //random temp from -30.0 to 30.0 degrees\nmsg.payload =  {\n    \"Temperature\": rnd,\n}\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":40,"wires":[["8dafdbfa.92a1e8","d678888a.95d478","801c0edc.97725"]]},{"id":"bcfd183e.05ddd8","type":"inject","z":"d7ddc0b.d0f904","name":"Send Message","topic":"","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":"","x":120,"y":40,"wires":[["2fb3ffb8.f5233","65f8401b.c0b2f","53b44332.d81d8c","7b3b2bab.abe1d4","627d3724.75f978","a3101f8e.9aa06","3696333.bfabccc","3d7390e2.423c"]]},{"id":"d678888a.95d478","type":"file","z":"d7ddc0b.d0f904","name":"Temp Data","filename":"/Users/atul/Downloads/cert/Temp.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":930,"y":60,"wires":[["b561c9ce.ef1f28"]]},{"id":"b561c9ce.ef1f28","type":"amazon s3 out","z":"d7ddc0b.d0f904","aws":"82dd0665.36b008","bucket":"scalable-iot","filename":"Temp.csv","localFilename":"/Users/atul/Downloads/cert/Temp.csv","region":"eu-west-1","name":"S3-OUT","x":960,"y":840,"wires":[]},{"id":"864879f3.22bfe8","type":"ui_gauge","z":"d7ddc0b.d0f904","name":"","group":"49f3aa1d.600af4","order":1,"width":0,"height":0,"gtype":"gage","title":"Body Temperature Monitor","label":"Fahrenheit","format":"{{value}} F","min":"95","max":"106","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1620,"y":60,"wires":[]},{"id":"65f8401b.c0b2f","type":"battery","z":"d7ddc0b.d0f904","name":"","level":true,"charging":true,"x":100,"y":80,"wires":[["d1363347.c5e47","60fa2b3b.c0e234","c244860c.fe0ea8"]]},{"id":"d1363347.c5e47","type":"function","z":"d7ddc0b.d0f904","name":"Battery Percentage","func":"var battery =  msg.payload.percent;\nmsg.payload = battery;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["60997a3e.5af094","23e6fb7b.d4f014"]]},{"id":"60997a3e.5af094","type":"ui_gauge","z":"d7ddc0b.d0f904","name":"","group":"43a5e580.16593c","order":1,"width":0,"height":0,"gtype":"gage","title":"Battery Percentage Remaining","label":"Percentages","format":"{{value}}%","min":0,"max":"100","colors":["#b52d00","#e6d905","#00ca12"],"seg1":"","seg2":"","x":1630,"y":140,"wires":[]},{"id":"60fa2b3b.c0e234","type":"function","z":"d7ddc0b.d0f904","name":"Charging ON/OFF","func":"var charging =  msg.payload.ischarging;\nmsg.payload = charging;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["ea3d2916.ca9b98"]]},{"id":"ea3d2916.ca9b98","type":"ui_text","z":"d7ddc0b.d0f904","group":"43a5e580.16593c","order":1,"width":0,"height":0,"name":"","label":"Charging Status","format":"{{msg.payload}}","layout":"row-spread","x":1580,"y":180,"wires":[]},{"id":"e1a0ee6b.378ec","type":"ui_text","z":"d7ddc0b.d0f904","group":"43a5e580.16593c","order":1,"width":0,"height":0,"name":"","label":"Cycle Count","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":220,"wires":[]},{"id":"c244860c.fe0ea8","type":"function","z":"d7ddc0b.d0f904","name":"Cycle Count Function","func":"var cyclecount =  msg.payload.cyclecount;\nmsg.payload = cyclecount;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["e1a0ee6b.378ec"]]},{"id":"53b44332.d81d8c","type":"function","z":"d7ddc0b.d0f904","name":"Heartbeat","func":"var hb = Math.round((Math.random() * 50) + 120);  //rando\nmsg.payload =  {\n    \"Heartbeat (BPM)\": hb,\n}\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["c0f986a0.b84fc8","b2caa507.9b2ea8","8dafdbfa.92a1e8"]]},{"id":"c7bf1fe8.ff2a2","type":"function","z":"d7ddc0b.d0f904","name":"Fever Checker","func":"mintemp = 97;\nmaxtemp = 99.5;\nif (msg.payload >= maxtemp){\n    msg.payload = 'Patient has temperature.';\n}\nelse {\n  msg.payload = 'Patient temperature is normal.'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["677affca.0235","3736565c.d1a25a"]]},{"id":"677affca.0235","type":"ui_text","z":"d7ddc0b.d0f904","group":"49f3aa1d.600af4","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":100,"wires":[]},{"id":"84b2e19b.668d3","type":"ui_chart","z":"d7ddc0b.d0f904","name":"","group":"738546be.19fe48","order":1,"width":0,"height":0,"label":"Hearbeat in BPM","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"linear","nodata":"Waiting for Sensor to be active.","dot":true,"ymin":"0","ymax":"250","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1590,"y":260,"wires":[[]]},{"id":"c0f986a0.b84fc8","type":"function","z":"d7ddc0b.d0f904","name":"converter","func":"var numb = msg.payload.match(/\\d/g);\nmsg.payload = Number(numb.join(\"\"));\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["84b2e19b.668d3","351396f9.1bf57a"]]},{"id":"351396f9.1bf57a","type":"ui_text","z":"d7ddc0b.d0f904","group":"738546be.19fe48","order":2,"width":0,"height":0,"name":"","label":"BPM:","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":300,"wires":[]},{"id":"23e6fb7b.d4f014","type":"function","z":"d7ddc0b.d0f904","name":"backupnode","func":"battery = 95;\nif (msg.payload <= battery){\n    msg.payload = 'Low Battery, changing the node.';\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["f7bff8c.6bff208"]]},{"id":"f7bff8c.6bff208","type":"mqtt out","z":"d7ddc0b.d0f904","name":"MQTT For Node 2","topic":"batterystatus","qos":"","retain":"","broker":"321d4e4a.c465f2","x":730,"y":20,"wires":[]},{"id":"7b3b2bab.abe1d4","type":"function","z":"d7ddc0b.d0f904","name":"Hemoglobin","func":"// Function to create a random int between minValue and maxValue\nfunction randomIntBetween(minValue, maxValue) {\n    return parseInt(Math.floor(Math.min(minValue + (Math.random() * (maxValue - minValue)), maxValue)));\n}\n\nmsg.payload =  {\n    'hemoglobin': randomIntBetween(10, 20), //grams per deciliter\n}\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["99a49c21.7eeeb","2e8879c9.9baaa6","8dafdbfa.92a1e8"]]},{"id":"9f4d4856.8dc568","type":"ui_gauge","z":"d7ddc0b.d0f904","name":"Hemoglobin","group":"3911e1db.bc2d6e","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"gm/dL","format":"{{value}}","min":"10","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1570,"y":340,"wires":[]},{"id":"99a49c21.7eeeb","type":"function","z":"d7ddc0b.d0f904","name":"converter","func":"var numb = msg.payload.match(/\\d/g);\nmsg.payload = Number(numb.join(\"\"));\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["e899170e.aab988","2fb80358.c3992c"]]},{"id":"f78c5078.30676","type":"ui_text","z":"d7ddc0b.d0f904","group":"3911e1db.bc2d6e","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":380,"wires":[]},{"id":"e899170e.aab988","type":"function","z":"d7ddc0b.d0f904","name":"Hemoglobin Checker","func":"mintemp = 12;\nmaxtemp = 17.5;\nif (msg.payload >= maxtemp){\n    msg.payload = 'Hemoglobin level is High!!.';\n}\nelse if (msg.payload <=mintemp) {\n  msg.payload = 'Hemoglobin level is very low!'\n}\nelse {\n  msg.payload = 'Hemoglobin level is normal.'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["f78c5078.30676"]]},{"id":"627d3724.75f978","type":"function","z":"d7ddc0b.d0f904","name":"Glucose Level","func":"var gl = (Math.random() * (3.9 - 9.0) + 9.0).toFixed(2)\n\n\nmsg.payload =  {\n    'glucose-level': gl\n}\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":520,"wires":[["9439c9d8.1f3138","3e062ded.d18632","8dafdbfa.92a1e8"]]},{"id":"9439c9d8.1f3138","type":"function","z":"d7ddc0b.d0f904","name":"converter","func":"var digits = Number((/(\\d+\\.\\d+)/.exec(msg.payload) || []).pop());\nmsg.payload = digits\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":560,"wires":[["a8f1bd1d.ee99d","89e94620.ff4c68"]]},{"id":"89e94620.ff4c68","type":"ui_gauge","z":"d7ddc0b.d0f904","name":"Diabetes","group":"c4cd0930.9d9678","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"gm/dL","format":"{{value}}","min":"3.1","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":420,"wires":[]},{"id":"a8f1bd1d.ee99d","type":"function","z":"d7ddc0b.d0f904","name":"Diabetes Checker","func":"maxlevel = 5.1;\nif (msg.payload >= maxlevel){\n    msg.payload = 'Type 2 diabetes';\n}\nelse {\n  msg.payload = 'Glucose level is normal.'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":600,"wires":[["d95af48b.631eb8"]]},{"id":"d95af48b.631eb8","type":"ui_text","z":"d7ddc0b.d0f904","group":"c4cd0930.9d9678","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":460,"wires":[]},{"id":"2fb80358.c3992c","type":"template","z":"d7ddc0b.d0f904","name":"","field":"ui_control","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"options\":{\n        \"waveColor\":\"#CC0000\"\n    }    \n}\n","output":"json","x":460,"y":440,"wires":[["9f4d4856.8dc568"]]},{"id":"b2caa507.9b2ea8","type":"file","z":"d7ddc0b.d0f904","name":"Heartbeat Data","filename":"/Users/atul/Downloads/cert/Heartbeat.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":920,"y":280,"wires":[["d0d799a0.e3bb68"]]},{"id":"d0d799a0.e3bb68","type":"amazon s3 out","z":"d7ddc0b.d0f904","aws":"82dd0665.36b008","bucket":"scalable-iot","filename":"Hearbeat.csv","localFilename":"/Users/atul/Downloads/cert/Heartbeat.csv","region":"eu-west-1","name":"S3-OUT","x":960,"y":880,"wires":[]},{"id":"a3101f8e.9aa06","type":"function","z":"d7ddc0b.d0f904","name":"Oxygen","func":"// Function to create a random int between minValue and maxValue\nfunction randomIntBetween(minValue, maxValue) {\n    return parseInt(Math.floor(Math.min(minValue + (Math.random() * (maxValue - minValue)), maxValue)));\n}\n\nmsg.payload =  {\n    'Oxygen Level': randomIntBetween(80, 100), //grams per deciliter\n}\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":640,"wires":[["b48210dc.3e7a3","54cf5948.0356b8","8dafdbfa.92a1e8"]]},{"id":"b48210dc.3e7a3","type":"function","z":"d7ddc0b.d0f904","name":"converter","func":"var numb = msg.payload.match(/\\d/g);\nmsg.payload = Number(numb.join(\"\"));\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":680,"wires":[["a29547c0.472008","d6d3fd5e.d2f0a"]]},{"id":"a29547c0.472008","type":"function","z":"d7ddc0b.d0f904","name":"Oxygen Checker","func":"minlevel = 90;\nif (msg.payload <= minlevel){\n    msg.payload = 'Low Oxygen';\n}\nelse {\n  msg.payload = 'Normal Flow.'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":720,"wires":[["a7397958.e9aca8"]]},{"id":"a7397958.e9aca8","type":"ui_text","z":"d7ddc0b.d0f904","group":"8fb88a88.c0ef18","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":560,"wires":[]},{"id":"d6d3fd5e.d2f0a","type":"ui_gauge","z":"d7ddc0b.d0f904","name":"Oxygen Status","group":"8fb88a88.c0ef18","order":1,"width":0,"height":0,"gtype":"wave","title":"","label":"mm-Hg","format":"{{value}}","min":"80","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1580,"y":520,"wires":[]},{"id":"2e8879c9.9baaa6","type":"file","z":"d7ddc0b.d0f904","name":"Hemoglobin Data","filename":"/Users/atul/Downloads/cert/Hemoglobin.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":850,"y":360,"wires":[["ae9dbda8.6c32a"]]},{"id":"ae9dbda8.6c32a","type":"amazon s3 out","z":"d7ddc0b.d0f904","aws":"82dd0665.36b008","bucket":"scalable-iot","filename":"Hemoglobin.csv","localFilename":"/Users/atul/Downloads/cert/Hemoglobin.csv","region":"eu-west-1","name":"S3-OUT","x":960,"y":920,"wires":[]},{"id":"3e062ded.d18632","type":"file","z":"d7ddc0b.d0f904","name":"Glucose Data","filename":"/Users/atul/Downloads/cert/Glucose.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":480,"wires":[["9bd9c172.fb5a"]]},{"id":"9bd9c172.fb5a","type":"amazon s3 out","z":"d7ddc0b.d0f904","aws":"82dd0665.36b008","bucket":"scalable-iot","filename":"Glucose.csv","localFilename":"/Users/atul/Downloads/cert/Glucose.csv","region":"eu-west-1","name":"S3-OUT","x":960,"y":960,"wires":[]},{"id":"3696333.bfabccc","type":"function","z":"d7ddc0b.d0f904","name":"Blood Ph Level","func":"var ph = (Math.random() * (6.0 - 7.9) + 7.9).toFixed(2)\n\nmsg.payload =  {\n    'blood-ph-level': ph\n}\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":760,"wires":[["9b5655eb.6be608","8cdedec1.0d9e8","8dafdbfa.92a1e8"]]},{"id":"9b5655eb.6be608","type":"function","z":"d7ddc0b.d0f904","name":"converter","func":"var digits = Number((/(\\d+\\.\\d+)/.exec(msg.payload) || []).pop());\nmsg.payload = digits\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":800,"wires":[["d586c21a.fa3e7","c5d9ce4d.e69e3"]]},{"id":"d586c21a.fa3e7","type":"function","z":"d7ddc0b.d0f904","name":"pH Checker","func":"minlevel = 7.35;\nmaxlevel = 7.45\nif (msg.payload < minlevel){\n    msg.payload = 'acidic';\n}\nelse if (msg.payload >maxlevel) {\n  msg.payload = 'Alkaline'\n}\nelse {\n  msg.payload = 'Normal'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":840,"wires":[["8bf6793c.884b78"]]},{"id":"8bf6793c.884b78","type":"ui_text","z":"d7ddc0b.d0f904","group":"4eb434a4.896e8c","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":660,"wires":[]},{"id":"c5d9ce4d.e69e3","type":"ui_gauge","z":"d7ddc0b.d0f904","name":"","group":"4eb434a4.896e8c","order":1,"width":0,"height":0,"gtype":"gage","title":"Blood pH Level","label":"","format":"{{value}} pH","min":"7.00","max":"8.00","colors":["#b5970c","#10e601","#ca3838"],"seg1":"7.4","seg2":"7.6","x":1580,"y":620,"wires":[]},{"id":"3d7390e2.423c","type":"function","z":"d7ddc0b.d0f904","name":"Raspiratory Rate","func":"// Function to create a random int between minValue and maxValue\nfunction randomIntBetween(minValue, maxValue) {\n    return parseInt(Math.floor(Math.min(minValue + (Math.random() * (maxValue - minValue)), maxValue)));\n}\n\nmsg.payload =  {\n    'Rasipiratory Rate': randomIntBetween(8, 30), //grams per deciliter\n}\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":880,"wires":[["c2cad05e.c9845","8dafdbfa.92a1e8"]]},{"id":"c2cad05e.c9845","type":"function","z":"d7ddc0b.d0f904","name":"converter","func":"var numb = msg.payload.match(/\\d/g);\nmsg.payload = Number(numb.join(\"\"));\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":920,"wires":[["a7d53f00.b38d4","40cb3507.3aa2cc"]]},{"id":"a7d53f00.b38d4","type":"function","z":"d7ddc0b.d0f904","name":"Raspiratory Checker","func":"minlevel = 12;\nmaxlevel = 25;\nif (msg.payload < minlevel){\n    msg.payload = 'Abnormal';\n}\nelse if (msg.payload > maxlevel) {\n  msg.payload = 'Abnormal'\n}\nelse {\n  msg.payload = 'Normal'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":960,"wires":[["ac54454.7c31db8"]]},{"id":"40cb3507.3aa2cc","type":"ui_gauge","z":"d7ddc0b.d0f904","name":"","group":"3b7d715e.5ee3ce","order":1,"width":0,"height":0,"gtype":"gage","title":"Raspiratory Status","label":"","format":"{{value}} BPM","min":"8","max":"30","colors":["#b0b526","#00e600","#ca3838"],"seg1":"12","seg2":"25","x":1586,"y":707,"wires":[]},{"id":"ac54454.7c31db8","type":"ui_text","z":"d7ddc0b.d0f904","group":"3b7d715e.5ee3ce","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":740,"wires":[]},{"id":"54cf5948.0356b8","type":"file","z":"d7ddc0b.d0f904","name":"Oxygen Data","filename":"/Users/atul/Downloads/cert/Oxygen.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":730,"y":600,"wires":[["3c2705e3.ccbbca"]]},{"id":"3c2705e3.ccbbca","type":"amazon s3 out","z":"d7ddc0b.d0f904","aws":"82dd0665.36b008","bucket":"scalable-iot","filename":"Oxygen.csv","localFilename":"/Users/atul/Downloads/cert/Oxygen.csv","region":"eu-west-1","name":"S3-OUT","x":960,"y":1000,"wires":[]},{"id":"8cdedec1.0d9e8","type":"file","z":"d7ddc0b.d0f904","name":"Blood-pH-Data","filename":"/Users/atul/Downloads/cert/pH.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":720,"y":720,"wires":[["a7c84215.1f32"]]},{"id":"a7c84215.1f32","type":"amazon s3 out","z":"d7ddc0b.d0f904","aws":"82dd0665.36b008","bucket":"scalable-iot","filename":"pH.csv","localFilename":"/Users/atul/Downloads/cert/pH.csv","region":"eu-west-1","name":"S3-OUT","x":960,"y":1040,"wires":[]},{"id":"801c0edc.97725","type":"function","z":"d7ddc0b.d0f904","name":"converter","func":"var digits = Number((/(\\d+\\.\\d+)/.exec(msg.payload) || []).pop());\nmsg.payload = digits\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["c7bf1fe8.ff2a2","864879f3.22bfe8"]]},{"id":"db5f516a.41c79","type":"ui_toast","z":"d7ddc0b.d0f904","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification","x":1570,"y":780,"wires":[]},{"id":"3736565c.d1a25a","type":"function","z":"d7ddc0b.d0f904","name":"Push Notification","func":"if (msg.payload == 'Patient has temperature.'){\n    msg.payload = 'ALERT: Patient temperature is increasing.'\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1000,"wires":[["db5f516a.41c79"]]}]
